* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #E3E3E5;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: #053750;
}
a:hover{
    font-weight: bold;
}
li {
    list-style: none;
}
.header {
    background-color: #053750;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E5E5;
}

.header__title {
    text-transform: capitalize;
    position: relative;
    border: #E3E3E5 2px solid;
    padding: 25px 110px;
}

.header__subtitle {
    text-transform: capitalize;
    position: absolute;
    background-color: #053750;
    top: 87px;
}
.aboute{
    padding: 10px 50px;
    border-bottom: #053750 2px solid;
    border-top: #053750 2px solid;
    margin: 10px 0;
}
.main-content{
    display: flex;
    flex-direction: row;
}
.sidebar {
    background-color: #053750;
    color: #E5E5E5;
    padding: 10px;
}

/* .sidebar__title {} */

/* .sidebar-list {} */

.sidebar__link {
    color: white;
}

.main {
    padding: 20px;
}
.main__title{
    background-color: #053750;
    padding: 5px 50px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    width: 75%;
    margin-left: -20px;
    color: #E3E3E5;
}
/* .work {} */

/* .work__title {} */

/* .work__position {} */

.work__period {
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* .work-list {} */

/* .education {} */

/* .education__title {} */

/* .education-list {} */

/* .education__name {} */

/* .education__position {} */

.education__period {
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* .project {} */

.project__title {
    width: 100%;
}

.project__img {
    transition: 0.3s;
    transform: scale(1);
    height: 300px;
    width: 500px;
}
.project__img:hover{
    transform: scale(1.03);
}